/tempo
/tempo-query
/tempo-vulture
/bin
.idea
.vscode
/dist
/cmd/tempo-cli/tempo-cli
/example/docker-compose/**/tempo-data/
/example/docker-compose/**/gcs-data/
.DS_Store
/tempodb/encoding/benchmark_block
/cmd/tempo-serverless/vendor/
/tempodb/encoding/benchmark_block
.bash_history
.cache
/cmd/tempo/config.yaml
/cmd/tempo-serverless/vendor/
/cmd/tempo/tempowal
/cmd/tempo/tempostorage